body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 95vh;
    background-color: #A7C7E7;
    transition: background-color 0.3s ease;
    font-family: sans-serif;
}

.title {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 4em;
}


/* Navbar */
nav {
    width: 35em;
    margin-top: 2em;
}

nav button {
    margin: 0;
    border: 0;
    background-color: #A7C7E7;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: .5em .5em 0 0;
    padding: .5em 1.5em .5em 1.5em;
    transition: all 0.3s ease;
}

nav button:hover,
nav .selected {
    background-color: black !important;
    color: white;
}

hr {
    border: .25px solid black;
    margin: 0;
}


/* Settings Card */
.settings {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
}

.settings .leftColumn,
.settings .rightColumn {
    padding: 2em;
    text-align: center;
}

.settings .rightColumn {
    padding-top: 6em;
    padding-left: 0;
}

.settings p {
    font-size: 1.125em;
    margin-bottom: .25em;
}

.settings textarea {
    height: 20em;
    border: 2px solid black;
    background-color: #A7C7E7;
    border-radius: .75em;
    width: 14em;
    padding: 1em;
    transition: border 0.3s ease, background-color 0.3s ease;
    outline: none;
    resize: none;
}

.remindInterval {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.remindInterval p {
    margin: 0;
}

.resetInterval {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetInterval p {
    margin: 0;
}

.settings input {
    margin: 0 .25em;
    text-align: center;
    border: 2px solid black;
    background-color: #A7C7E7;
    border-radius: .75em;
    width: 2em;
    padding: 1em;
    transition: border 0.3s ease, background-color 0.3s ease;
    outline: none;
}

#saveButton {
    margin-top: 3.5em;
    margin-left: 9em;
    background-color: #A7C7E7;
    border: 2px solid black;
    padding: .75em 1em;
    border-radius: .75em;
    cursor: pointer;
    transition: border 0.3s ease, background-color 0.3s ease;
    width: 6em;
}

.settings textarea:hover,
.settings textarea:focus,
.settings input:hover,
.settings input:focus,
#saveButton:hover {
    border: 2px solid white;
}


/* About Card */
.about {
    display: none;
    font-size: 1.125em;
    margin-top: 1.75em;
    width: 30em;
    transition: all 0.3s ease;
}